body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*blocks*/
.article {}

.articleContent {
  font: "Adobe Garamond Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.8em;
  color: hsl(0, 0%, 44%);
}

.section4Column {
  display: grid;
  grid-template-columns: 50px minmax(0px, 250px) 500px 250px auto; 
  grid-gap: 25px;
  grid-template-rows: auto;
  margin-bottom: 15px;
}

.img {
  max-width: 100%;
}

.iframe {
	width: 100%;
}

.bokeh {  
  /*max-width: 100%;*/
  /*min-width: 2000px;*/
  min-width: 100%;
  margin-left: 150px;
  height: 850px;
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  border: none;
}

.link {
  text-decoration: none;
  color:#FB900E;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
  font-style: normal;
}

.sidebar {
  background-color: #e3e3e3;
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  font-size: 80%;
  line-height: 1.5;
}
.button {
/*  max-width: 200px;
  min-width: 100px;*/
  /*min-width: 2000px;*/
 /*width:150px;*/
 padding: 8px;
 background: none;
 border-radius: 20px;
 border: solid black 2px;
 font-weight: bold;
 font-size: 1em;
}
/*elements*/

.article__title {
   text-align: center;
}

.link__img {
 height: 150px;
 padding: 5px;
}

.tooltip__text {
  visibility: hidden;
  width: 120px;
  background-color: #e3e3e3;
  box-shadow: 5px 10px 18px #888888;
  color: black;
  text-align: center;
  font-size: 80%;
  line-height: 1.5;
  border-radius: 6px;
  padding: 0.5em 0.8em;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.section4Column__rule {
  grid-column-start: 3;
  width:100%;
  border:none;
  border-bottom: 3px solid #e3e3e3; 
}

/*modifiers --pseudo classes go here?*/

.section4Column--middle {
 grid-column-start: 3;
}

.section4Column--left {
  grid-column-start: 2;
  grid-column-end: 3;
}

.section4Column--right {
  grid-column-start: 4;
  margin-right: 30px;
}

.section4Column--all {
  grid-column: 1 / span 5;
}

.img--zoom {
  transition: transform .2s; 
}
.img--zoom:hover {
  transform: scale(1.5);
}
.tooltip:hover .tooltip__text {
    visibility: visible;
}
.span--centeredContainer { /*for vertical centering? rename?*/
	display: flex;
	flex-direction: column;
	align-items: center;

}
.span--center {
 justify-self: center;
}
/*locus color modifiers*/
.span--activity1Highlight {
    background-color: #E22220BF;
    padding: 3px;
}

.span--activity2Highlight {
    background-color: #FCC528BF;
    padding: 3px;
}
.span--activity3Highlight {
    background-color: #018D5ABF;
    padding: 3px;
}
.span--activity4Highlight {
    background-color: #434D98BF;
    color:black;
    padding: 3px;
}
.span--resourceAHighlight {
  background-color: #9575CDBF;
  padding: 3px;
}
.span--resourceBHighlight {
  background-color: #64B5F6BF;
  padding: 3px;

}
.span--resourceCHighlight {
  background-color: #81C784BF;
  padding: 3px;
}
.span--resourceDHighlight {
  background-color: #FFF176BF;
  padding: 3px;
}
.span--resourceEHighlight {
  background-color: #FFB74DBF;
  padding: 3px;

}
.span--resourceFHighlight {
  background-color: #EF5350BF;
  padding: 3px;
}
.span--DIVHighlight {
  background-color: #616261;
  color: black;
  padding: 3px;
}